PORT=5000
NODE_ENV=development

DATABASE_URL="mysql://root:YOUR_PASSWORD@localhost:3306/fleetflow_fms"

JWT_ACCESS_SECRET="CHANGE_ME"
JWT_REFRESH_SECRET="CHANGE_ME"

JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

FRONTEND_URL="http://localhost:5173"

UPLOAD_DIR="./uploads"

TRACCAR_BASE_URL=""
TRACCAR_API_TOKEN=""

LOG_LEVEL="info"
